@font-face {
    font-family: 'Ubuntu';
    src: url(../assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
